<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Root</title>
    <link href="{{ asset('css/index.css') }}" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>Welcome to root!</h1>
    <p>The following API collections are available to use:
        <ul>
            <li>/info (PHP info)</li>
            <li>/rest/about</li>
            <li>/rest/army</li>
        </ul>
    </p>
</body>
</html>